body .text-style-title-main {
    font-family: "Yeseva One", Helvetica, Verdana, sans-serif
}
body .text-style-title {
    font-family: Montserrat, Helvetica, Verdana, sans-serif
}
body .text-style-subtitle {
    font-family: Montserrat, Helvetica, Verdana, sans-serif
}
body {
    font-family: "Open Sans", Helvetica, Verdana, sans-serif !important
}
body .text-style-quote {
    font-family: "Playfair Display", Helvetica, Verdana, sans-serif
}

.box{
    width: 992px;
    margin: 0% auto 0 auto;
    background: #4c5c64;
    border-radius: 0;
    padding: 120px 0px;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    max-width: 95%;
}

.s{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    user-select: none;
    max-width: 45%;
}
.s img{
    width: 169px;
    max-width: 100%;
    cursor: pointer;
    user-select: none;
}

.s:nth-child(1){
    margin-right: 5%;
}

.s img:hover{
    opacity: 0.7;
}
html {
    font-size: 30px;
    font-weight: bold;
    background: #bfe2ff;
}
.t{
    font-size: 40px;
    color:#fff;
    text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    margin-top: -10px;
}
.container-wrapper{
    min-height: 1px !important;
}
.sc{
    display: inline-block;
    background: #f0ce3c;
    padding: 10px 50px;
}
.sc:hover{
    opacity: 0.7;
    cursor: pointer;
}
.sc img{
    width: 35px;
    margin-left: -10px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -12px;
}
.bgy{
    color: #fff;
    user-select: none;
    font-size: 40px;
    margin-bottom: 15px;
}


.box .l{
    margin-right: 5%
}

@media screen and ( max-width: 480px ){
    .container.lg-container{
        padding-top: 50px !important;
    }

    .bgy, .t{
        font-size: 30px;
    }
}